<div class="logo-container">
  <img src="../../assets/Favicon-01.png" class="logo-top-right">
  <a href="/social-links">
    <img src="../../assets/Logo 3D Render- White Background 30.jpg" class="logo-center" alt="Center Logo">
  </a>
</div>



  

  <!-- Right side with text -->
  <div style="flex: 1; display: flex; justify-content: center; align-items: center; padding: 20px;">
    <div style="text-align: center;">
        <h1 style="font-family: cursive; color: orange;">About Addy Up the Mixing Artist</h1>
        <p style="color: purple;">
            Hello! My name is Addy Up and I'm a mixing artist out of Fort Worth texas. Checkout my spotify and soundcloud.
            <br>
            <a href="https://soundcloud.com/calcbliss">SoundCloud</a>
            <br>
            <a href="https://open.spotify.com/artist/2tOX9AOUlqdRG3lLzvlvsY">Spotify</a>
        </p>
    </div>
</div>
    <!-- Left side with image -->
    <div style="flex: 1;">
        <img src="../../assets/Addy Up.jpg" alt="Left side image" style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    
  
