<!-- src/app/components/game/game.component.html -->
<div>
    <h1>Play Minecraft</h1>
    <h2>Players</h2>
    <ul>
     @for (player of players; track $index) { <li>
        {{player.name}} - Position: ({{player.x}}, {{player.y}}, {{player.z}})
      </li>
    }
    </ul>
  
    <h3>Add New Player</h3>
    <form (ngSubmit)="addPlayer()">
      <input [(ngModel)]="newPlayer.name" name="name" placeholder="Name" required>
      <input [(ngModel)]="newPlayer.x" name="x" placeholder="X" type="number" required>
      <input [(ngModel)]="newPlayer.y" name="y" placeholder="Y" type="number" required>
      <input [(ngModel)]="newPlayer.z" name="z" placeholder="Z" type="number" required>
      <button type="submit">Add Player</button>
    </form>
  
    <h2>Blocks</h2>
    <ul>
      <li *ngFor="let block of blocks">
        {{block.type}} - Position: ({{block.x}}, {{block.y}}, {{block.z}})
      </li>
    </ul>
  
    <h3>Place New Block</h3>
    <form (ngSubmit)="placeBlock()">
      <input [(ngModel)]="newBlock.type" name="type" placeholder="Block Type" required>
      <input [(ngModel)]="newBlock.x" name="x" placeholder="X" type="number" required>
      <input [(ngModel)]="newBlock.y" name="y" placeholder="Y" type="number" required>
      <input [(ngModel)]="newBlock.z" name="z" placeholder="Z" type="number" required>
      <button type="submit">Place Block</button>
    </form>
  </div>