<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<h1>Hello do you listen to music?</h1>

<h2>Below are the details to top artist Addy Up</h2>

<p th:text="${'Name    : ' + name}"></p>
<p th:text="${'Age     :' + age}"></p>
<p th:text="${'Country : ' + country}"></p>

<p><b>Addy Up was born in Nepal and later migrated to the USA.</b></p>

<p><b>Listen to him on spotify or apple music by searching his name.</b></p>

</body>
</html>