<form (ngSubmit)="onSubmit()" #buildForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="formData.name" name="name">
    </div>
    
    <div class="form-group">
      <label for="buildType">What do you build?</label>
      <select class="form-control" id="buildType" required [(ngModel)]="formData.buildType" name="buildType" (change)="onBuildTypeChange()">
        <option value="houses">Houses</option>
        <option value="cars">Cars</option>
        <option value="furniture">Furniture</option>
        <option value="tools">Tools</option>
        <option value="multi-level">Other</option>
      </select>
    </div>
  
    <!-- Conditional input for multi-level -->
   @if(showMultiLevelInput){ <div class="form-group">
      <label for="multiLevelDetail">Specify what do you build?</label>
      <input type="text" class="form-control" id="multiLevelDetail" [(ngModel)]="formData.multiLevelDetail" name="multiLevelDetail">
    </div> }
  
    <!-- <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" class="form-control" id="phoneNumber" required [(ngModel)]="formData.phoneNumber" name="phoneNumber">
    </div> -->
  
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="formData.email" name="email">
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  