@if (events.length > 0;){ <div>
    <h2>Upcoming Events</h2>
    <table>
      <thead>
     @for (event of events; track $index) {<tr>
        <th class="event-title">{{ event.title }}</th>
        @if (event.date) {<th class="event-date"><strong>Date:</strong> {{ event.date }}</th> }
        <th class="event-description">{{ event.description }}</th>
      </tr>
    }
  </thead>
    </table>
  </div>

}
@else {
    noEvents
}
  
  <ng-template #noEvents>
    <p>No upcoming events found.</p>
  </ng-template>
  