<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">  <h3 style="color: orange; font-family: cursive;">
      Calculated Bliss Entertainment Call or Text for <p style="color: purple;">Booking</p>
       
    </h3>
    <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: silver;">972-639-6593 keller, texas</h3></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/signup">Sign Up</a> -->
        </li>
      </ul>
    </div>
  </nav>
<h2 style="font-family: cursive; color: purple;">Scroll all the way down for pitcures and to learn about us!</h2>

 <!-- @if (songs.length > 0) { <div>
  <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: silver;">Top Songs from Billboard</h2>
  <ul>
    @for (song of songs; track $index) {<li style="color: orange; font-family: cursive;">{{ song }}</li> }
  </ul>
</div> } -->

